package components

templ Page() {
        <!DOCTYPE html> 
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Ticket</title>
			<link rel="stylesheet" href="/assets/css/styles.min.css"/>
			<script src="/assets/js/htmx.min.js"></script>
		</head>
		<body class="bg-slate-900">
		</body>
	</html>
}
